{% extends 'base.html' %}
{% block title %}View{% endblock %}
{% block menu %}
<li><a href="{% url 'task_update' task.pk %}">Update</a></li>
    <li><a href="{% url 'task_delete' task.pk %}">Delete</a></li>
{% endblock %}
{% block content %}
    <h1>Task:</h1>
    <h2>{{ task.summary }}</h2>
    <h2>{{ task.description }}</h2>
    <p>Status: {{ task.status }}</p>
    <p>Types: {% for type in task.types.all %} {{ type.name }} {% if not forloop.last %}, {% endif %}{% endfor %}</p>
     {% if task.created_at is not None %}
        <p>{{ task.created_at }}</p>
    {% endif %}
{% endblock %}

