{% extends 'base.html' %}
{% block title %}Index{% endblock %}


{% block content %}
    <h1>Projects</h1>

{% for project in projects %}
    <h2><a href="{% url "project_view" project.pk %}">{{ project.name }}</a></h2>
    <p>Description: {{ project.description }}</p>
    {% if project.start_date is not None %}
        <p>Date start:{{ project.start_date }}</p>
    {% endif %}
    <p><a href="{% url 'project_update' project.pk %}">Update</a></p>
    <p><a href="{% url 'project_delete' project.pk %}">Delete</a></p>
    <hr>
{% endfor %}

{% endblock %}