{% extends 'base.html' %}

{% block title %}Delete{% endblock %}

{% block menu %}
    <li><a href="{% url 'project_view' projects.pk %}">Отмена</a></li>
{% endblock %}

{% block content %}
    <h1>Вы уверены, что хотите удалить проект "{{ projects.name }}"?</h1>

    <form action="{% url "project_delete" projects.pk %}" method="post">
        {% csrf_token %}
        <p><input type="submit" value="Да"></p>
        <p><a href="{% url 'project_view' projects.pk %}">Отмена</a></p>
    </form>

{% endblock %}
