{% extends 'base.html' %}
{% block title %}View{% endblock %}

{% block menu %}
    <li><a href="{% url 'project_task_add' projects.pk %}">Add Task</a></li>
{% endblock %}

{% block content %}
    <h1>Project:</h1>
    <h2>Name: {{ projects.name }}</h2>
    <h3>Description: {{ projects.description }}</h3>
     {% if projects.start_date is not None %}
        <h3>Start date: {{ projects.start_date }}</h3>
    {% endif %}
    {% if projects.end_date is not None %}
        <h3>Date end: {{ projects.end_date }}</h3>
    {% endif %}

    <h3>Tasks:</h3>
<div class="box">
{% for task in tasks %}
    <h3><a href="{% url "task_view" task.pk %}">{{ task.summary }}</a></h3>
    <p>Status: {{ task.status }}</p>
    <p>Types: {% for type in task.types.all %} {{ type.name }} {% endfor %}</p>
    {% if task.created_at is not None %}
        <p>{{ task.created_at }}</p>
    {% endif %}
    <div class="text"><p><a href="{% url 'task_update' task.pk %}" class="button7">Edit</a></p></div>
   <div class="text"><p><a href="{% url 'task_delete' task.pk %}" class="button8">Delete</a></p></div>

    <hr>
{% endfor %}
</div>
{% endblock %}

